<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-6">
                <div class="card bg-dark text-white" style="border-radius: 1rem">
                    <div class="card-body">
                        <form [formGroup]="updateForm">
                            <div class="text-center">
                                <h2 class="fw-bold mb-2 text-uppercase">update password</h2>
                            </div>
                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="form3Example4cg">Current password</label>
                                <input formControlName="currentPassword" type="password" id="form3Example4cg"
                                    class="form-control form-control-lg" />

                                <div *ngIf="updateForm.controls['currentPassword'].errors" class="error">
                                    <div *ngIf="updateForm.controls['currentPassword'].errors?.['required']">
                                        Password is required
                                    </div>
                                    <div *ngIf="updateForm.controls['currentPassword'].errors?.['pattern']">
                                        you entered wrong password
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="form3Example4cg">New Password</label>
                                <input formControlName="password" type="password" id="form3Example4cg"
                                    class="form-control form-control-lg" />

                                <div *ngIf="updateForm.controls['password'].errors" class="error">
                                    <div *ngIf="updateForm.controls['password'].errors?.['required']">
                                        Password is required
                                    </div>
                                    <div *ngIf="updateForm.controls['password'].errors?.['minlength']">
                                        Password must be at least 6 characters long
                                    </div>

                                    <div *ngIf="updateForm.controls['password'].errors?.['passwordStrength']">
                                        {{updateForm.controls['password'].errors?.['passwordStrength']}}
                                    </div>
                                    <div *ngIf="updateForm.controls['password'].errors?.['matchedValidator']">
                                        Newpassword can not be same as currentPassword
                                    </div>
                                </div>
                            </div>

                            <div class="form-outline form-white mb-3">
                                <label class="form-label" for="form3Example4cdg">Retype new password</label>
                                <input formControlName="confirmPassword" type="password" id="form3Example4cdg"
                                    class="form-control form-control-lg" />

                                <div *ngIf="updateForm.controls['confirmPassword'].errors" class="error">
                                    <div *ngIf="updateForm.controls['confirmPassword'].errors?.['required']">
                                        Confirm your password
                                    </div>
                                    <div *ngIf="updateForm.controls['confirmPassword'].errors?.['minLength']">
                                        Password must be at least 8 characters long
                                    </div>
                                    <div *ngIf="updateForm.controls['confirmPassword'].errors?.['mismatch']">
                                        Password and Confirm Password are not matching
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" (click)="onSubmit()"
                                    class="btn btn-outline-light btn-block btn-lg px-5 mb-4">
                                    Update Password
                                </button>
                            </div>
                            <div class="error text-center" *ngIf="errorMessage!=''">{{errorMessage}}</div>
                            <div class="success text-center" *ngIf=" successMessage !=''">{{successMessage}}</div>
                          
                        </form>

                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>