:host{
    .search-bar{
        height: 2rem;
        border-radius: 16px;
        border: none;
        padding: 16px;
    }
    .bold{
        font-weight: 600;
       
    }
    .f-20{
        font-size: 20px;
    }

}
@media (max-width: 768px){
    .card-sm {
        height: 580px !important;
    }
}



